{% extends "base.html" %} {% block head_title %} {{demonstrator.name}}
{%endblock %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/demonstrator.css' %}" />
{% endblock %}

<!-- something here for nothing  -->
{% load static %} {% block content %}
<h2 class="tit">{{demonstrator.name}}</h2>
<section class="sec">
    <class class="container">
        <div id="nav">
            <ul>
                <li class="aactive first">
                    <button type="button">المعلومات الشخصية</button>
                </li>
                <li class="second">
                    <button type="button">معلومات الاتصال</button>
                </li>
                <li class="third">
                    <button type="button">الحالة الاجتماعية</button>
                </li>
                <li class="forth">
                    <button type="button">الشهادة الجامعية</button>
                </li>
                <li class="fifth">
                    <button type="button">الإيفادات</button>
                </li>
            </ul>
        </div>
    </class>
    <div class="container" id="content">
        <div class="first">
            <div class="grd">
                <div class="gr-1">
                    <p class="ct">
                        <span> اسم الأب:</span>
                    </p>
                    <p class="ct">
                        <span> اسم الأم:</span>
                    </p>
                    <p class="ct">
                        <span> الجنس:</span>
                    </p>
                    <p class="ct">
                        <span> تاريخ الميلاد:</span>
                    </p>
                </div>
                <div class="gr-2">
                    <p class="ct">{{demonstrator.fatherName}}</p>
                    <p class="ct">{{demonstrator.motherName}}</p>
                    <p class="ct">{{demonstrator.get_gender_display}}</p>
                    <p class="ct">
                        {{demonstrator.birthDate|date:"SHORT_DATE_FORMAT"}}
                    </p>
                </div>
            </div>
        </div>
        <div class="second" style="display: none">
            <div class="grd">
                <div class="gr-1">
                    <p class="ct"><span> الإيميل:</span></p>
                    <p class="ct"><span> مكان الإقامة:</span></p>
                    <p class="ct">
                        <span> العنوان الحالي:</span>
                    </p>
                    <p class="ct">
                        <span> الهاتف المحمول:</span>
                    </p>
                    <p class="ct">
                        <span> رقم الهاتف الأرضي:</span>
                    </p>
                </div>
                <div class="gr-2">
                    <p class="ct">{{demonstrator.email}}</p>
                    <p class="ct">{{demonstrator.home}}</p>
                    <p class="ct">{{demonstrator.residence}}</p>
                    <p class="ct">{{demonstrator.mobile}}</p>
                    <p class="ct">{{demonstrator.telephone}}</p>
                </div>
            </div>
        </div>
        <div class="third" style="display: none">
            <div class="grd">
                <div class="gr-1">
                    <p class="ct">
                        <span> الحالة العائلية:</span>
                    </p>
                    <p class="ct">
                        <span> الوضع العسكري:</span>
                    </p>
                </div>
                <div class="gr-2">
                    <p class="ct">{{demonstrator.get_maritalStatus_display}}</p>
                    <p class="ct">
                        {{demonstrator.get_militarySituation_display}}
                    </p>
                </div>
            </div>
        </div>
        <div class="forth" style="display: none">
            <div class="grd">
                <div class="gr-1">
                    <p class="ct">
                        <span> الكلية:</span>
                    </p>
                    <p class="ct">
                        <span> الجامعة:</span>
                    </p>
                    <p class="ct">
                        <span> القسم:</span>
                    </p>
                    <p class="ct">
                        <span> السنة:</span>
                    </p>
                    <p class="ct">
                        <span> المعدل:</span>
                    </p>
                </div>
                <div class="gr-2">
                    <p class="ct">
                        {{demonstrator.universityDegree.universityDegreeCollege}}
                    </p>
                    <p class="ct">
                        {{demonstrator.universityDegree.universityDegreeUniversity}}
                    </p>
                    <p class="ct">
                        {{demonstrator.universityDegree.universityDegreeSection}}
                    </p>
                    <p class="ct">
                        {{demonstrator.universityDegree.universityDegreeYear}}
                    </p>
                    <p class="ct">
                        {{demonstrator.universityDegree.universityDegreeAverage}}
                    </p>
                </div>
            </div>
        </div>
        <div class="fifth" style="display: none">
            <div class="row justify-content-center mx-auto">
                <div class="accordion" id="efads">
                    {% for i in demonstrator.dispatch.all %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="efad-{{i.id}}">
                            <button
                                class="accordion-button collapsed ct"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#info-{{i.id}}"
                                aria-expanded="false"
                                aria-controls="info-{{i.id}}"
                            >
                                <span>نوع الإيفاد:</span
                                >{{i.get_requiredCertificate_display}}
                            </button>
                        </h2>
                        <div
                            class="accordion-collapse collapse"
                            id="info-{{i.id}}"
                            aria-labelledby="efad-{{i.id}}"
                            data-bs-parent="#efads"
                        >
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12 row g-0">
                                        <p
                                            class="text-lead text-muted fs-6 col-2"
                                        >
                                            رقم القرار
                                            /{{i.dispatchDecisionNumber}}/{{i.dispatchDecisionType}}
                                        </p>
                                        <p
                                            class="text-lead text-muted fs-6 col-2"
                                        >
                                            تاريخ
                                            {{i.dispatchDecisionDate|date:"SHORT_DATE_FORMAT"}}
                                        </p>
                                    </div>
                                </div>
                                <p class="ct">
                                    <span>شهادة الإيفاد:</span
                                    >{{i.get_dispatchType_display}}
                                </p>
                                <p class="ct">
                                    <span>النفقة:</span
                                    >{{i.get_alimony_display}}
                                </p>
                                <p class="ct">
                                    <span>بلد الإيفاد:</span
                                    >{{i.dispatchCountry}}
                                </p>
                                <p class="ct">
                                    <span>جامعة الإيفاد:</span
                                    >{{i.dispatchUniversity}}
                                </p>
                                <p class="ct">
                                    <span>تاريخ آخر تقرير:</span
                                    >{{i.lastReportDate}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %} {% if not demonstrator.dispatch.all%} لا يوجد
                    إيفاد بعد
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <a
                href="/app/dispatch/{{demonstrator.id}}"
                class="btn btn-outline-primary col-4 mb-5 mt-3"
                >إضافة إيفاد جديد</a
            >
        </div>
    </div>
</section>

<script>
    function goto(id) {
        window.location.href = `/app/getdispatch/${id}`;
    }
    $(document).ready(function () {
        var nav = $('#nav');
        var line = $('<div />').addClass('line');
        line.appendTo(nav);
        console.log(line);

        var active = nav.find('.aactive');
        var pos = 0;
        var wid = 0;
        let div = $('div.first');

        if (active.length) {
            pos = active.position().left;
            wid = active.width();
            line.css({
                left: pos,
                width: wid,
            });
        }

        nav.find('ul li button').click(function (e) {
            e.preventDefault();

            if (
                !$(this).parent().hasClass('aactive') &&
                !nav.hasClass('animate')
            ) {
                nav.addClass('animate');

                var _this = $(this);

                let div2 = $(
                    `div.${_this.parent().prop('class').split(' ')[0]}`
                );
                div.fadeOut(300, function () {
                    div2.fadeIn(150);
                    console.log(_this.parent().prop('class').split(' ')[0]);
                    div = div2;
                });

                nav.find('ul li').removeClass('aactive');

                var position = _this.parent().position();
                var width = _this.parent().width();

                if (position.left >= pos) {
                    line.animate(
                        {
                            width: position.left - pos + width,
                        },
                        300,
                        function () {
                            line.animate(
                                {
                                    width: width,
                                    left: position.left,
                                },
                                150,
                                function () {
                                    nav.removeClass('animate');
                                }
                            );
                            _this.parent().addClass('aactive');
                        }
                    );
                } else {
                    line.animate(
                        {
                            left: position.left,
                            width: pos - position.left + wid,
                        },
                        300,
                        function () {
                            line.animate(
                                {
                                    width: width,
                                },
                                150,
                                function () {
                                    nav.removeClass('animate');
                                }
                            );

                            _this.parent().addClass('aactive');
                        }
                    );
                }

                pos = position.left;
                wid = width;
            }
        });
    });
</script>

{% endblock %}
