{% extends "base.html" %} {% block head_title %}الصفحة الرئيسية{% endblock %}
<!-- something not usefull -->
{%block content %}

<h2 class="tit">الصفحة الرئيسية</h2>

<section class="sec">
    <div class="container w-100 text-center my-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h4 class="card-title">عدد المعيدين</h3>
                            <p class="card-text fs-3 lead">80</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h4 class="card-title">عدد المعيدين</h3>
                            <p class="card-text fs-3 lead">80</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h4 class="card-title">عدد المعيدين</h3>
                            <p class="card-text fs-3 lead">80</p>
                    </div>
                </div>
            </div>
        
            
        </div>
    </div>

    <hr class="opacity-25" style="margin-top: 100px">

    <div class="container mt-5 w-100">
        <div class="row justify-content-around">
            <div class="col-4"><div class="card border-dark mb-3 mx-auto" style="max-width: 18rem;">
                <h5 class=" card-header"><i class="fa-solid fa-user-tie "></i
                    > <span class="mr-3"> تسجيل موظف </span></h5>
                <div class="card-body text-dark">
                  
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div></div>
            <div class="col-4"><div class="card border-dark mb-3 mx-auto" style="max-width: 18rem;">
                <h5 class=" card-header"><i class="fa-solid fa-user "></i
                    > <span class="mr-3"> تسجيل معيد </span></h5>
                <div class="card-body text-dark">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div></div>
            <div class="col-4"><div class="card border-dark mb-3 mx-auto align-baseline" style="max-width: 18rem;">
                <h5 class=" card-header"><i class="fa-solid fa-users "></i
                    > <span class="mr-3"> المعيدين</span></h5>
                <div class="card-body text-dark">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div></div>
        </div>
    </div>
</section>
{% endblock %}
