{% extends "base.html" %} {% block head_title %} إرسال إيميل{% endblock %}
{% load static %}
<!-- something here for nothing  -->

{% block style %}
<link rel="stylesheet" href="{% static 'css/multi-select.min.css' %}">
{% endblock %}

{% block content %}
<h2 class="tit">إرسال ايميل</h2>


<div class="sec ">
  <form class="col-md-8  mx-auto mt-5" action="../sendEmails/" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <div>
        <label for="exampleFormControlSelect" class="form-label">اختر الموقع الذي تريد الإرسال منه :</label>
        <select name="server" class="form-select" id="exampleFormControlSelect"
          aria-label="Floating label select example">
          <option selected value="gmail">Gmail</option>
          <option value="hotmail">Hotmail</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">ايميل المستلم :</label>
      <input type="email" class="form-control" name="email" id="exampleFormControlInput1"
        placeholder="name@example.com">
    </div>
    <div class=" mb-3">
      <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
      <div class="input-group">
        <div style="background-color:#4b49ac; text-align: left;" class="input-group-text text-white">
          albaath-univ.edu.sy@</div>
        <input name="user" type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username"
          style="direction: ltr;">
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">الموضوع :</label>
      <input type="text" class="form-control d-flex" name="subject" id="exampleFormControlInput1"
        placeholder="موضوع الرسالة :">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">الرسالة :</label>
      <textarea class="form-control" name="msg" id="exampleFormControlTextarea1" rows="4"
        placeholder="اكتب الرسالة هنا..."></textarea>
    </div>
    <div class="mb-3">
      <label class="text-dark" for="floatingSelect">اختر الكلية :</label>

      <select name="college" multiple id="floatingSelect" aria-label="Floating label select example" style="">
        <option selected>افتح القائمة لتختار الكلية المرسل إليها :</option>
      </select>

    </div>
    <button type="submit" name="emails" value="normal" style="background-color:#4b49ac"
      class="btn text-white  ">ارسال</button>
    {% csrf_token %}
    <button id="notification" name="emails" value="late" style="background-color:#4b49ac" class="btn text-white  ">ارسال
      انذار للمتأخرين</button>
  </form>
</div>

<script src="{% static 'js/multi-select.js'%}"></script>


<script>
  function createElementFromHTML(htmlString) {
    var div = document.createElement("div");
    div.innerHTML = htmlString.trim();

    // Change this to div.childNodes to support multiple top-level nodes.
    return div.firstChild;
  }
  let csrf = createElementFromHTML(`{% csrf_token %}`);
  let values = {}
  values['csrfmiddlewaretoken'] = csrf.value;

  let handleSubmit = (e) => {
    e.preventDefault()
    $.post("/app/sendToLate/", values, (data) => {
      console.log(data)
    })

  }
  $(document).ready(function () {
    var selects = "{{select|escapejs}}";

    selects = JSON.parse(selects)
    let select = document.getElementById("floatingSelect");

    console.log(typeof selects["data"])

    selects["data"].forEach(o => {
      let op = document.createElement("option")
      op.value = o["permissionsCollege"]
      op.text = o["permissionsCollege"]
      select.add(op)
    })

    var last = document.createElement("option");
    last.text = "كل الكليات";
    last.value = "all";
    select.add(last);

    new MultiSelectTag('floatingSelect')

  });

</script>
{% endblock %}