#nav {
    position: relative;
    padding-bottom: 12px;
}
#nav .line {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0;
    background: #ff1847;
}
#nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
#nav ul li {
    margin: 0 40px 0 0;
    opacity: 0.4;
    transition: all 0.4s ease;
}
#nav ul li:hover {
    opacity: 0.7;
}
#nav ul li.aactive {
    opacity: 1;
}
#nav ul li:last-child {
    margin-left: 0;
}

#nav ul li button {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 14px;
}

#content {
    border: 1px solid #f1effa;
    background-color: #f9f9fc;
    padding: 30px 30px 0 30px;
    border-radius: 0.5rem;
    min-height: 50vh;
    font-size: 24px;
}

.ccard {
    border: 2px solid #8675eb;
    margin: 5px 5px 10px 0;
    padding: 30px;
    border-radius: 0.5rem;
    transition: 0.5s;
    cursor: pointer;
}
.ccard:hover {
    border-color: #ff1847;
}
.ct {
    font-size: 18px;
}
.fifth .ct {
    font-size: 16px;
}
.ct > span {
    margin-left: 13px;
    font-weight: 900;
}
.grd {
    display: grid;
    grid-template-columns: 200px 200px;
}
