.cardss .card:hover + .cardss .card .card-header {
    color: #e71d36;
}
.cardss .card {
    transition: all 0.2s ease;
}

.cardss .card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef !important;
    transform: scale(1.1);
    border-color: none !important;
}
