/* E8F1F5
005691
004A7C */

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none !important;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

input,
textarea,
button,
select {
    font: inherit;
}
body {
    font-family: tajawal, monospace !important;
}

/* main {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 90px;
    width: 100%;
    height: 100vh;
    background: #f9f9fc;
    opacity: 1;
    overflow: auto;
    transition: all 0.2s linear;
} */
.sec {
    background-color: #fff;
    border-radius: 2rem;
    padding: 25px 10px;
    min-height: 70vh;
}
/* .sec {
    background: #f1effa;
    margin: 40px;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid #f9f9fc;
    border-radius: 8px;
    width: 80%;
    margin: auto;
    min-height: 90vh;
} */
.tit {
    margin: 15px 35px 35px 35px;
}
.card-header {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

@font-face {
    font-family: tajawal;
    src: url(../fonts/Droid-Arabic-Naskh-Regular.ttf);
}
